<%= form_for(@grootboektype) do |f| %>
  <% if @grootboektype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grootboektype.errors.count, "error") %> prohibited this grootboektype from being saved:</h2>

      <ul>
      <% @grootboektype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :naam %><br>
    <%= f.text_field :naam %>
  </div>
  <br>
  <div class="field">
    <%= f.label :categorie %><br>
    <%= f.text_field :categorie %>
  <p>(D = Diverse, I = Input, O = Output, E = Eigen vermogen N = Niet van Toepassing)</p>
  </div>
  <div class="field">
    <p><%= f.label "Icoon" %> <%= f.file_field :icoon %></p>
    <%= image_tag f.object.icoon_url(:thumb).to_s %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
