        <div class="flex-columncenter">
        <div class="orgscontainer ">
            <div class="orgshow">
                <div class="timeshowheader flex-row displaynone">
                    <div class=" ">Tijd: afgelopen 12 maanden</div>
                    <div class="icon icon-dropdown"></div>
                </div>
                <div class="overzichtsfoto-div displaynone">
                  <%= image_tag @organisatie_search.voorkant_image_url.to_s, class:"overzichtsfoto-img button" %>
                </div>
                <div class="org">
                    <div class="container-movie">
                        <div class="movieheader button">
                            <div>Video</div>
                            <div class="icon icon-delete"></div>
                        </div>
                        <div class="movie-org">
                            <iframe width="598" height="345" src="https://www.youtube.com/embed/buKlmdsXZT8" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="orgbuttons">
                        <div class="btnorg1 button">minder</div>
                        <div class="btnorg2 button displaynone">meer</div>
                        <div class="btnorg3 button">processen</div>
                        <div class="btnorg5 button">EV</div>
                        <div class="btnorg4 button">waarde</div>
                    </div>
                    <div id="orgnaam" class="orgnaam">
                        <div class="pijlrechts orgnaampijlrechts">
                            <div class="pijluitleg hidden">
                                <div class="iconwide icon-dienstextern"></div>
                                <div class="pijluitlegwoord">externe effecten</div>
                            </div>
                            <div class="pijwaarde waardeniet hidden">(waaarde nog onbekend)</div>
                        </div>
                        <div class=" pijllinks">
                            <div class="pijluitleg hidden">
                                <div class="pijluitlegwoord">externe effecten</div>
                                <div class="iconwide icon-dienstextern"></div>
                            </div>
                            <div class="pijlwaarde waardeniet hidden">(waaarde nog onbekend)</div>
                        </div>
                        <div class="orgheader">
                            <div class="icon icon-organisatie btn-overzichtsfoto button"></div>
                            <div class="icon icon-hamburger btn-container-movie button"></div>
                            <div><%= @organisatie_search.naam %></div>
                            <div class=""><%= @organisatie_search.bedrijfstak.naam %></div>
                            <div class="<%= @organisatie_search.rechtsvorm.sector %>"><%= @organisatie_search.rechtsvorm.afkorting %></div>
                        </div>
                    </div>
                    <div class="start">
                        <div id="overeenkomsten" class=" overeenkomsten displaynone">
                            <div class="rij">
                                <div class="kolom">
                                    <div class="rijtje ">
                                        <div class="icon icon-overeenkomst"></div>
                                        <div>Overeenkomsten</div>
                                    </div>
                                    <div class="rijtje groot">
                                        <div class="icon icon-recept"></div>
                                        <div>info over betalingen en leveringen</div>
                                    </div>
                                    <div class="groot">&nbsp;</div>
                                    <div class="groot">&nbsp;</div>
                                </div>
                                <div class="boekhoudboeken">
                                    <%=  image_tag("/assets/klappers.png", class: "boekhoudboeken")%>
                                </div>
                            </div>
                        </div>
 <!-- //geld -->
                        <div id="geld" class="geld">
                            <div class=" pijllinks">
                                <div class="pijluitleg">
                                    <div class="icon icon-geldpijl"></div>
                                     <div class="pijlwaarde waardeniet">
                                    <div>&euro; <%= @betalingen %></div>
                                    </div>
                                </div>
                                <div class="pijluitlegwoord" title="inkopen, belasting en winstuitkering ">betalingen</div>
                            </div>
                               
                            <div class="pijlrechts">
                                <div class="pijluitleg">
                                    <div class="icon icon-geldpijl"></div>
                                    <div class="pijlwaarde waardeniet">
                                        <div>&euro; <%= @inkomsten %></div>
                                    </div>
                                </div>
                                <div class="pijluitlegwoord">inkomsten</div>
                            </div>
                            <div class="itemheader itemheadergeld">
                                <div class="icon icon-geld"></div>
                                <div>Geld</div>
                            </div>
                            <div>
                                <div>bank</div>
                            </div>
                        </div>
                        <div class="overeenkomsten nogte">                        
                            <div class="itemheader itemheadergeld">
                                <div class="icon icon-plichtgeld"></div>
                                <div class="icon icon-rechtgeld"></div>
                                <div>Debiteuren en Crediteuren</div>
                            </div>
                            <div>debiteuren</div>
                            <div>crediteuren</div>                           
                        </div>
                        <div id="overheid" class="overheid">
                            <div class="itemheader itemheaderoverheid">
                                <div class="icon icon-plichtgeld"></div>
                                <div class="icon icon-rechtgeld"></div>
                                <div>Belastingen </div>
                                <div></div>
                            </div>
                            <div>te betalen/ontvangen btw</div>
                            <div>te betalen sociale verzekeringen</div>
                            <div class="overzicht-rente">
                                <div>te betalen belastingen</div>
                                <div class="iconwide icon-belasting-neg proces displaynone"></div>
                                <div class="proces displaynone">- &euro; <%= @belastingen %></div>    
                            </div>
                        </div>
                        <div id="finprod" class="finprod">
                            <div class="itemheader itemheaderfinprod">
                                <div class="icon icon-plichtgeld"></div>
                                <div class="icon icon-rechtgeld"></div>
                                <div>Financi&euml;le producten</div>
                                <div></div>
                            </div>
                            <div>
                                <div>lening 5%</div>
                                <div class="overzicht-rente">
                                    <div>te betalen rente</div>
                                    <div class="iconwide icon-rente-neg proces displaynone"></div>
                                    <div class="proces displaynone">- &euro; 1000</div>    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="abc">
                        <div class="a">
                            <div class="bedrijfsprocessen-ac">
                                <div class="itemheader">
                                    <div>input</div>
                                </div>
                            </div>
<!-- vlottende activa -->
                            <div id="actvlot" class=" actvlot">
                                <div class=" pijllinks">
                                    <div class="pijluitleg">
                                        <div class="icon icon-stroommarkt"></div>
                                        <div class="pijlwaarde waardeniet">
                                            <div>&euro; <%= @leveringen_vla %></div>
                                        </div>
                                    </div>
                                    <div class="pijluitlegwoord" title="inkoop brood &euro; 100.000 ">leveringen</div>
                                </div>
                                <div class="middenlinks">
                                    <div class="flexrow">
                                        <div class="icon icon-stroomintern"></div>
                                        <div class="pijlwaarde waardeniet">
                                            <div>&euro; <%= @inkw_vd_omzet %></div>
                                        </div>  
                                    </div> 
                                    <div class="uitlegproces">inkoopwaarde van de omzet</div>
                                </div>  
                                <div class="middenmidden">
                                    <div class="flexrow">
                                        <div class="icon icon-stroomintern"></div>
                                        <div class="pijlwaarde waardeniet">
                                            <div>&euro; <%= @inkw_vd_omzet %></div>
                                        </div>  
                                    </div> 
                                    <div class="uitlegproces">inkoopwaarde van de omzet</div>
                                </div>                              
                                <div class=" itemheader">
                                    <% if @organisatie_search.rechtsvorm.id != 1 %>
                                      <div class="icon icon-rondje"></div>
                                      <div>Vlottende activa</div>
                                    <% else %>
                                      <div class="icon icon-rondje"></div>
                                      <div>Niet-duurzame consumptiegoederen</div>
                                    <% end %>
                                    <div class="waardeinvestering waardeniet">Investering: &euro; 0</div>
                                </div>
                                <div>
                                      <% if @organisatie_search.rechtsvorm.id != 1 %>
                                        <% if !@grb_vla.present? %>
                                          <% @gbr_vla.each do |grootboek| %>
                                            <%=  grootboek.naam %><br>
                                          <% end %>
                                        <% end %>
                                      <% else %>
                                        <% if !@grb_ndc.present? %>
                                          <% @gbr_ndc.each do |grootboek| %>
                                            <%=  grootboek.naam %><br>
                                          <% end %>
                                        <% end %>  
                                      <% end %>
                                </div>
                                <div class="itembody-display ">
                                    <div class="itembody">
                                      <% if @organisatie_search.rechtsvorm.id != 1 %>
                                        <% if !@grb_vla.present? %>
                                          <% @gbr_vla.each do |grootboek| %>
                                            <%= image_tag grootboek.icoon_url.to_s %>
                                          <% end %>
                                        <% end %>
                                      <% else %>
                                        <% if !@grb_ndc.present? %>
                                          <% @gbr_ndc.each do |grootboek| %>
                                            <%= image_tag grootboek.icoon_url.to_s %>
                                          <% end %>
                                        <% end %>
                                      <% end %>
                                    </div>
                                </div>
                            </div>
<!-- vaste activa -->
                            <div id="actvast" class="  actvast">
                                <div class=" pijllinks">
                                    <div class="pijluitleg">
                                        <div class="icon icon-stroommarkt"></div>
                                        <div class="pijlwaarde waardeniet ">
                                            <div>&euro; <%= @leveringen_va %></div>
                                        </div>
                                    </div>
                                    <div class="pijluitlegwoord" title="oven en winkelspullen">leveringen</div>
                                </div>
                                <div class="middenlinks">
                                    <div class="flexrow">
                                        <div class="icon icon-dienstintern"></div>
                                        <div class="pijlwaarde waardeniet">
                                            <div>&euro; <%= @afschrijving %></div>
                                        </div>
                                    </div>
                                        <div class="uitlegproces">afschrijvingen</div>
                                </div>   
                                <div class="middenmidden">
                                    <div class="flexrow">
                                        <div class="icon icon-dienstintern"></div>
                                        <div class="pijlwaarde waardeniet">
                                            <div>&euro; <%= @algemenekosten %></div>
                                        </div>
                                    </div>
                                        <div class="uitlegproces">algemene kosten</div>
                                </div>    
                                <div class="itemheader">
                                  <% if @organisatie_search.rechtsvorm.id != 1 %>
                                    <div class="icon icon-vierkant"></div>
                                    <div>Vaste activa</div>
                                  <% else %>
                                    <div class="icon icon-vierkant"></div>
                                    <div>Duurzame consumptiegoederen</div>
                                  <% end %>                           
                                    <div class="waardeinvestering waardeniet">Investering: &euro; 8.000</div>
                                </div>
                                <div>
                                      <% if @organisatie_search.rechtsvorm.id != 1 %>
                                        <% if !@grb_va.present? %>
                                          <% @gbr_va.each do |grootboek| %>
                                            <%=  grootboek.naam %><br>
                                          <% end %>
                                        <% end %>
                                      <% else %>
                                        <% if !@grb_dc.present? %>
                                          <% @gbr_dc.each do |grootboek| %>
                                            <%=  grootboek.naam %><br>
                                          <% end %>
                                        <% end %>  
                                      <% end %>
                                </div>
                                <div class="itembody-display">
                                    <div class="itembody">
                                      <% if @organisatie_search.rechtsvorm.id != 1 %>
                                        <% if !@grb_va.present? %>
                                          <% @gbr_va.each do |grootboek| %>
                                            <%= image_tag grootboek.icoon_url.to_s %>
                                          <% end %>
                                        <% end %>
                                      <% else %>
                                        <% if !@grb_dc.present? %>
                                          <% @gbr_dc.each do |grootboek| %>
                                            <%= image_tag grootboek.icoon_url.to_s %>
                                          <% end %>
                                        <% end %>  
                                      <% end %>
                                        <!-- <img class="artwork" src="/images/products/bakker/gg-oven.png">
                                        <img class="artwork" src="/images/products/bakker/gg-broodkast.png"> -->
                                    </div>
                                </div>
                            </div>
<!-- kosten -->
                            <div id="kosten" class="kosten">
                                <div class=" pijllinks">
                                    <div class="pijluitleg ">
                                        <div class="icon icon-dienstmarkt"></div>
                                        <div class="icon icon-stroommarkt"></div>
                                        <div class="pijlwaarde waardeniet">
                                            <div>&euro; <%= @leveringen_kst %></div>
                                        </div>
                                    </div>
                                    <div class="pijluitlegwoord" title="Huur winkel, elektriciteit en diversen ">leveringen</div>
                                </div>
                                <div class="middenlinks">
                                    <div class="flexrow">
                                        <div class="icon icon-dienstintern"></div>
                                        <div class="pijlwaarde waardeniet flexrow">
                                            <div>&euro; <%= @ks_overige_bedrijfskosten %></div>
                                        </div>
                                    </div>
                                    <div class="flexrow">
                                        <div class="uitlegproces">overige bedrijfskosten</div>
                                    </div>  
                                </div>   
                                <div class="middenmidden">
                                    <div class="flexrow">
                                        <div class="icon icon-dienstintern"></div>
                                        <div class="pijlwaarde waardeniet flexrow">
                                            <div>&euro; <%= @inkoopkosten %></div>
                                        </div>
                                    </div>
                                    <div class="flexrow">
                                        <div class="uitlegproces">inkoopkosten</div>
                                    </div>                                   
                                    <div class="flexrow">
                                        <div class="icon icon-dienstintern"></div>
                                        <div class="pijlwaarde waardeniet flexrow">
                                            <div>&euro; <%= @verkoopkosten %></div>
                                        </div>
                                    </div>
                                    <div class="flexrow">
                                        <div class="uitlegproces">verkoopkosten</div>
                                    </div>
                                </div>  
                                <div class="itemheader">
                                    <div class="icon icon-pijlhoofdmarkt"></div>
                                    <div>Kosten</div>
                                </div>

                                <div>
                                    <% if !@grb_kn.present? %>
                                        <% @gbr_kn.each do |grootboek| %>
                                          <%= grootboek.naam %><br>
                                        <% end %>
                                    <% end %>
                                </div>
                                <div class="itembody-display">
                                    <div class="itembody">
                                      <% if !@grb_kn.present? %>
                                        <% @gbr_kn.each do |grootboek| %>
                                          <%= image_tag grootboek.icoon_url.to_s %>
                                        <% end %>
                                      <% end %>
                                        <!-- <img class="artwork" src="/images/products/bakker/d-elektriciteit.jpg">
                                        <img class="artwork" src="/images/products/bakker/g-broodzakje.jpg"> -->
                                    </div>
                                </div>
                            </div>
<!-- personeel -->
                            <div id="pers" class="pers">
                                <div class=" pijllinks">
                                    <div class="pijluitleg">
                                        <div class="icon icon-arbeidmarkt"></div>
                                        <div class="pijlwaarde waardeniet">
                                            <div>&euro; 40.000</div>
                                        </div>
                                    </div>
                                    <div class="pijluitlegwoord" title="personeel">arbeid</div>
                                </div>
                                <div class="itemheader">
                                    <div class="icon icon-mens"></div>
                                    <div>Personeel</div>
                                </div>
                                <div>
                                    <% if !@grb_pr.present? %>
                                        <% @gbr_pr.each do |grootboek| %>
                                          <%= grootboek.naam %><br>
                                        <% end %>
                                    <% end %>
                                </div>
                                <div class="itembody-display">
                                    <div class="itembody">
                                      <% if !@grb_pr.present? %>
                                        <% @gbr_pr.each do |grootboek| %>
                                          <%= image_tag grootboek.icoon_url.to_s %>
                                        <% end %>
                                      <% end %>
                                        <!-- <img class="artwork" src="/images/people/figuren/figuren_bakkergroen.png"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="groot">
                            <div class="b ">
                                <div class="bedrijfsprocessen-b groot">
                                    <div>produceren</div>
                                </div>
                            </div>
                        </div>
                        <!-- b -->
                        <div class="c">
                            <div class="bedrijfsprocessen-ac">
                                <div class="itemheader">
                                    <!-- <div class="icon icon-geld"></div> -->
                                    <div>output</div>
                                </div>
                            </div>
<!-- te koop -->
                            <div id="tekoop" class="tekoop  button">
                                <div class=" pijlrechts">
                                    <div class="pijluitleg">
                                        <div class="icon icon-stroommarkt"></div>
                                        <div class="pijlwaarde waardeniet">&euro;<%= @omzet %>
                                        </div>
                                    </div>
                                    <div class="pijluitlegwoord" title="omzet brood">omzet</div>
                                </div>
                                <div class="middenrechtscontainer">
                                    <div class="middenrechts">
                                        <div class="flexrow">
                                            <div class="icon icon-stroomintern"></div>
                                            <div class="pijlwaarde waardeniet">&euro; <%= @inkw_vd_omzet %></div>
                                        </div>       
                                        <div class="uitlegproces">inkoopwaarde van de omzet</div>
                                    </div>
                                    <div class="middenrechts">
                                        <div class="flexrow">
                                            <div class="icon icon-dienstintern"></div>
                                            <div class="pijlwaarde waardeniet">
                                                <div>&euro; <%= @bedrijfskosten %></div>
                                            </div>
                                        </div>
                                        <div class="uitlegproces">bedrijfskosten</div>
                                    </div>      
                                    <div class="middenrechts">
                                        <div class="flexrow">
                                            <div class="iconwide icon-prod-pos"></div>
                                            <div class="pijlwaarde waardeniet">
                                                <div>&euro; <%= @basiswinst %></div>
                                            </div>
                                        </div>
                                        <div class="uitlegproces">basiswinst</div>
                                    </div> 
                                </div>
                                <div class="itemheader">
                                  <% if @organisatie_search.rechtsvorm.id != 1 %>
                                    <div class="icon icon-rondje"></div>
                                    <div>Verkopen</div>
                                  <% else %>
                                    <div class="icon icon-rondje"></div>
                                    <div>Voor gezinsleden</div>
                                  <% end %>
                                </div>
                                 <div>
                                      <% if @organisatie_search.rechtsvorm.id != 1 %>
                                        <% if !@grb_tk.present? %>
                                          <% @gbr_tk.each do |grootboek| %>
                                            <%=  grootboek.naam %><br>
                                          <% end %>
                                        <% end %>
                                      <% else %>
                                        <% if !@grb_vg.present? %>
                                          <% @gbr_vg.each do |grootboek| %>
                                            <%=  grootboek.naam  %><br>
                                          <% end %>
                                        <% end %>  
                                      <% end %>
                                </div>
                                <div class="itembody-display">
                                    <div class="itembody">
                                      <% if @organisatie_search.rechtsvorm.id != 1 %>
                                        <% if !@grb_tk.present? %>
                                          <% @gbr_tk.each do |grootboek| %>
                                            <%= image_tag grootboek.icoon_url.to_s %>
                                          <% end %>
                                        <% end %>
                                      <% else %>
                                        <% if !@grb_vg.present? %>
                                          <% @gbr_vg.each do |grootboek| %>
                                            <%= image_tag grootboek.icoon_url.to_s %>
                                          <% end %>
                                        <% end %>
                                      <% end %>
                                    </div>
                                </div>
                                <div class="tw displaynone">
                                    <div class="itemheader tw">
                                        <div class="iconwide icon-prod-pos"></div>
                                        <div>brutowinst</div>
                                    </div>
                                    <div class="tw-waarde displaynone">&euro; 19.000</div>
                                </div>
                                <div class="vergroting vergroting-tekoop">
                                    <div class="header streeponder">Te koop</div>
                                    <div class="">

                                        <div class="kostprijs">Brood</div>
                                        <img class="artworkbrood" src="/images/products/bakker/brood.png">
                                        <div>prijs: &euro; 2,00</div>
                                    </div><!-- 
                                    <div class="displaynone">
                                        <div class="verkoopprijs">Bolletjes</div>
                                        <img class="artworkbolletje" src="/images/products/bakker/bol.png">
                                        <div>prijs: &euro; 0,40</div>
                                    </div> -->
                                </div>
                            </div>

<!-- knowhow -->
                            <div class="knowhow">
                                <div class=" pijlrechts">
                                    <div class="pijluitleg">
                                        <div class="icon icon-dienstmarkt"></div>
                                        <div class="pijlwaarde waardeniet">
                                            <div>Gratis</div>
                                        </div>
                                    </div>
                                    <div class="pijluitlegwoord" title="Overdragen kennis en bedrijfscultuur">kennis voor personeel</div>
                                </div>
                                <div class="itemheader">
                                  <% if @organisatie_search.rechtsvorm.id != 1 %>
                                    <div class="icon icon-receptT"></div>
                                    <div title="kennis (over huishouden, eten koken, sociale vaardigheden, etc.">Know-how</div>
                                  <% else %>
                                    <div class="icon icon-receptT"></div>
                                    <div>Kennis, gezinscultuur</div>
                                  <% end %>
                                </div>
                                <div class="itembody-display">
                                    <div class="itembody">
                                      <% if @organisatie_search.rechtsvorm.id != 1 %>
                                        <% if !@grb_kh.present? %>
                                          <% @gbr_kh.each do |grootboek| %>
                                            <%= image_tag grootboek.icoon_url.to_s %>
                                          <% end %>
                                        <% end %>
                                      <% else %>
                                        <% if !@grb_hk.present? %>
                                          <% @gbr_hk.each do |grootboek| %>
                                            <%= image_tag grootboek.icoon_url.to_s %>
                                          <% end %>
                                        <% end %>
                                      <% end %>
                                    </div>
                                </div>
                            </div>
<!-- reclame -->
                            <div class="reclame button">
                                <div class=" pijlrechts">
                                    <div class="pijluitleg">
                                        <div class="icon icon-dienstextern"></div>
                                        <div class="pijlwaarde waardeniet">
                                            <div>Gratis</div>
                                        </div>
                                    </div>
                                    <div class="pijluitlegwoord" title="voordelen aan klantenkring laten zien">be&iuml;nvloeding klantenkring</div>
                                </div>
                                <div class="itemheader">
                                  <% if @organisatie_search.rechtsvorm.id != 1 %>
                                    <div class="icon icon-reclame"></div>
                                    <div>Reclame</div>
                                  <% else %>
                                    <div class="icon icon-mens"></div>
                                    <div>Arbeidsaanbod</div>
                                  <% end %>
                                </div>
                                <div class="itembody-display">
                                    <div class="itembody">
                                      <% if @organisatie_search.rechtsvorm.id != 1 %>
                                        <% if !@grb_rc.present? %>
                                          <% @gbr_rc.each do |grootboek| %>
                                            <%= image_tag grootboek.icoon_url.to_s %>
                                          <% end %>
                                        <% end %>
                                      <% else %>
                                        <% if !@gab_ab.present? %>
                                          <% @gbr_ab.each do |grootboek| %>
                                            <%= image_tag grootboek.icoon_url.to_s %>
                                          <% end %>
                                        <% end %>
                                      <% end %>
                                    </div>
                                  </div>
                                <div id="vergroting-reclame" class="vergroting">
                                    <div class="header streeponder">Reclame</div>
                                    <img class="volledigegrootte" src="/images/products/bakker/reclameBroodBart.png">
                                </div>
                            </div> 
<!-- administratie -->                                             
                            <div id="admin" class="admin button ">
                                <div class="pijlrechts">
                                    <div class="pijluitleg">
                                        <div class="icon icon-dienstextern"></div>
                                        <div class="pijlwaarde waardeniet">
                                            <div>Gratis</div>
                                        </div>
                                    </div>
                                    <div class="pijluitlegwoord" title="service aan Belastingdienst, banken en financiers">inzage mogelijkheid</div>
                                </div>
                                <div class="itemheader">
                                    <div class="icon icon-recept"></div>
                                    <div>Administratie</div>
                                </div>
                                <input class="chk-intern" type="checkbox" name="" value="intern"> Interne verslaglegging
                                <br>
                                <input class="chk-extern" type="checkbox" name="vehicle" value="extern">Externe verslaglegging
                                <br> 
                                <div class="itembody-display">
                                    <div class="itembody">
                                      <% if @organisatie_search.rechtsvorm.id != 1 %>
                                        <% if !@grb_adm.present? %>
                                          <% @gbr_adm.each do |grootboek| %>
                                            <%= image_tag grootboek.icoon_url.to_s %>
                                          <% end %>
                                        <% end %>
                                      <% else %>
                                        <% if !@grb_adm.present? %>
                                          <% @gbr_adm.each do |grootboek| %>
                                            <%= image_tag grootboek.icoon_url.to_s %>
                                          <% end %>
                                        <% end %>  
                                      <% end %>
                                        <!-- <img class="artwork" src="/images/products/bakker/gg-oven.png">
                                        <img class="artwork" src="/images/products/bakker/gg-broodkast.png"> -->
                                    </div>
                                </div>                              
                                <div id="vergroting-administratie" class="vergroting">
                                    <div class="header streeponder">Administratie</div>
                                    <%=  image_tag("/assets/klappers.png", class: "volledigegrootte")%>
                                </div>
                            </div>
                        </div>
                        <!-- c -->
                    </div>
                    <!-- abc -->
                </div>
                <!-- org -->
<!-- EV -->
                <div class="container-ev-display displaynone">
                    <div class="container-ev-column">
                        <div class="itemheader">
                            <div class="icon icon-ev"></div>
                            <div>Eigen Vermogen</div>
                        </div>
                        <div class="container-ev ">
                            <div class="bar-ev">
                                <div class="wl">
                                    <div class="">
                                        <div>Waardeverandering: </div>
                                        <div class="flex-row left">                                            
                                            <div class="iconwide icon-pos"></div>
                                            <div>&euro; 8.000</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wm">
                                    <div class="">
                                        <div>Winst </div>
                                        <div class="winstonderdeel"> 
                                            <div>Basiswinst</div>                                           
                                            <div class="iconwide icon-prod-pos"></div>
                                            <div>+ &euro; <%= @basiswinst %></div>
                                        </div>
                                        <div class="winstonderdeel"> 
                                            <div>Rente</div>                                           
                                            <div class="iconwide icon-rente-neg"></div>
                                            <div>-  &euro; 1000</div>
                                        </div>
                                        <div class="winstonderdeel"> 
                                            <div>Belastingen</div>                                           
                                            <div class="iconwide icon-belasting-neg"></div>
                                            <div>-  &euro; <%= @belastingen %></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wr">
                                    <div class="">
                                        <div>Waardeverandering: </div>
                                        <div class="flex-row left">                                            
                                            <div class="iconwide icon-pos"></div>
                                            <div>&euro; 0</div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>



                <!-- a -->
                <!-- Toewijzing -->
                <div id="vergroting-toewijzing" class="vergroting">
                    <div class="header streeponder">Toewijzing</div>
                    <div class="a1a2">
                        <div class="a1">
                            <div class="kostprijs">Kostprijs =</div>
                            <div class="listnaam">Fabricagekosten:</div>
                            <div class="listitems">
                                verbruik meel
                                <br> energie
                                <br> personeel
                                <br> vaste activa
                                <br>
                            </div>
                            <div class="listnaam">Verkoopkosten:</div>
                            <div class="listitems">
                                personeel
                                <br> reclame
                                <br>
                            </div>
                            <div class="listnaam">Algemene kosten:</div>
                            <div class="listitems">
                                administratie
                                <br> logistiek
                                <br> inkopen
                                <br> strategie
                                <br> kantoorkosten
                                <br> know-how
                                <br>
                            </div>
                        </div>
                        <div id="a2" class="a2">
                            <div class="verkoopprijs">Verkoopprijs =</div>
                            <div class="listnaam">Kostprijs</div>
                            <div class="listnaam">Toegevoegde waarde</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>