<!-- Doet niet meer; navigatie is weg -->
<!-- h_organisatie.html.erb -->
<%= form_tag organisaties_h_organisatie_path, id: "organisatie", multipart: true, :method => 'get', remote: true do %>
    <div class="flex-rowstart orgx">
        <div class="orgonderdelen">
            <%= collection_select(:organisatie, :id, Organisatie.all, :id, :naam, {:include_hidden => false}) %>
        </div>
        <%= submit_tag "Zet organisatie", class: "btn btn-primary", id: "search_submit", style: "display: none;" %>
            <div id="search_results">
                <!-- searched_organisaties partial is loaded AND refreshed here   -->
                <%= render 'organisaties/org_vertikaal' %>
                    <%= render template: "journaals/h_journaal" %>
                        <%= render template: "oldstviews/inc_accextern" %>
                            <div id="journaals" class="simrow accountingintern  ">
                            </div>
                            <div id="journaals" class="simrow accountingintern  ">
                                <!-- thijs grootboekvormen -->
                                <%= render template: "journaals/thijs" %>
                            </div>
                            <div class="simrow accountingextern ">
                            </div>
            </div>
    </div>
    <% end %>