<p id="notice"><%= notice %></p>

<h1>Organisaties</h1>

<table class="cmsTabel">
  <thead>
    <tr>
      <th>Naam</th>
      <th>Bedrijfstak</th>
      <th>Rechtsvorm</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organisaties.each do |organisatie| %>
      <tr>
        <td><%= organisatie.naam %></td>
        <td><%= organisatie.bedrijfstak.naam %></td>
        <td><%= organisatie.rechtsvorm.naam %></td>
        <td class="plaatje3"><%= image_tag organisatie.voorkant_image_url(:thumb).to_s %><td>
        <td><%= link_to 'Show', organisatie %></td>
        <td><%= link_to 'Edit', edit_organisatie_path(organisatie) %></td>
        <td><%= link_to 'Destroy', organisatie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organisatie', new_organisatie_path %>
