<p id="notice"><%= notice %></p>

<p>
  <strong>Naam:</strong>
  <%= @organisatie.naam %>
</p>

<p>
  <strong>Bedrijfstak:</strong>
  <%= @organisatie.bedrijfstak.naam %>
</p>

<p>
  <strong>Rechtsvorm:</strong>
  <%= @organisatie.rechtsvorm.naam %>
</p>

<p>
  <strong>Organisatie gevelplaatje:</strong>
  <%= image_tag @organisatie.voorkant_image_url(:thumb).to_s %>
</p>

<%= link_to 'Edit', edit_organisatie_path(@organisatie) %> |
<%= link_to 'Back', organisaties_path %>
