<h1>Content Management</h1>

<h3>Applicatie</h3>
<%= link_to 'Applicatie', root_path, method: :get %>


<h3>Gebruikers tabellen</h3>
<%= link_to 'Organisaties', organisaties_path %><br>
<%= link_to 'Grootboekrekeningen', grootboekrekeningen_path %><br>
<%= link_to 'Producten', producten_path %><br>
<%= link_to 'Journaals', journaals_path %><br>
<%= link_to 'Boekingen', boekingen_path %><br>

  
<h3>Referentie tabellen</h3>
<%= link_to 'Rechtsvormen', rechtsvormen_path %><br>
<%= link_to 'Bedrijfstakken', bedrijfstakken_path %><br>
<%= link_to 'Grootboektypes', grootboektypes_path %><br>
<%= link_to 'Journaaltypes', journaaltypes_path %><br>
<br>
