
<script src='js/proto.js'></script>

<%= render template: "oldstviews/inc_navbar" %>

<div class="lessonassignmentspace"></div>

<div class="contain assigncc  "> 
  <%= render template: "oldstviews/inc_assignments.html" %>
</div>

<div class="contain lesson ">
  <%= render template: "oldstviews/inc_lessons.html" %>
</div>

<div class="simulation">
  <div class="simrow orgdivision ">
    <%= render template: "oldstviews/inc_orgdivision.html" %>
  </div>

  <div class="simrow mensen displaynone">
    <%= render template: "oldstviews/inc_people.html" %>
  </div>
  
  <div class="simrow simrow-organisations displaynone">
    <%= render template: "organisaties/h_organisatie.html" %>
  </div>

  <div id="journaals" class="simrow accountingintern displaynone ">
    <%= render template: "journaals/h_journaal.html" %>
  </div>

  <div class="simrow accountingextern displaynone">
    <%= render template: "oldstviews/inc_accextern.html" %>
  </div>

  <div class="simrow markets displaynone ">
    <%= render template: "oldstviews/inc_markets.html" %>
  </div>


</div>
