<%= form_for(@grootboekrekening) do |f| %>
  <% if @grootboekrekening.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grootboekrekening.errors.count, "error") %> prohibited this grootboekrekening from being saved:</h2>

      <ul>
      <% @grootboekrekening.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :naam %><br>
    <%= f.text_field :naam %>
  </div>
  <div class="field">
    <p><%= f.label "Grootboekrekeningtype" %></p>
    <p><%= f.select :grootboektype_id, Grootboektype.all.collect{|t| [t.naam, t.id]}, { :include_blank => false } %></p>
  </div>
  <div class="field">
    <p><%= f.label "Organisatie" %></p>
    <p><%= f.select :organisatie_id, Organisatie.all.collect{|t| [t.naam, t.id]}, { :include_blank => false } %></p>
  </div>
  <div class="field">
    <%= f.label :icoon %><br>
    <%= f.text_field :icoon %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
