<p id="notice"><%= notice %></p>

<h1>Grootboekrekeningen</h1>

<table class="cmsTabel">
  <thead>
    <tr>
      <th>id</th>
      <th>Naam</th>
      <th>Grootboektype</th>
      <th>Organisatie</th>
      <th>Icoon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grootboekrekeningen.each do |grootboekrekening| %>
      <tr>
        <td><%= grootboekrekening.id %></td>
        <td><%= grootboekrekening.naam %></td>
        <td><%= grootboekrekening.grootboektype.naam %></td>
        <td><%= grootboekrekening.organisatie.naam %></td>
        <td class="plaatje3"><%= image_tag grootboekrekening.icoon_url(:thumb).to_s %></td>
        <td><%= link_to 'Show', grootboekrekening %></td>
        <td><%= link_to 'Edit', edit_grootboekrekening_path(grootboekrekening) %></td>
        <td><%= link_to 'Destroy', grootboekrekening, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grootboekrekening', new_grootboekrekening_path %>
