<h1>Show Rechtsvorm</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @rechtsvorm.sector %><br>
  <strong>Naam:</strong>
  <%= @rechtsvorm.naam %><br>
  <strong>Afkorting:</strong>
  <%= @rechtsvorm.afkorting %>
</p>

<%= link_to 'Edit', edit_rechtsvorm_path(@rechtsvorm) %> |
<%= link_to 'Back', rechtsvormen_path %>
