<div class="grootboek-rails">
  <h1>Grootboek</h1>
  
  <h2>Diversen</h2>
  <p>Geld: Gebaseerd op alle (min en plus) boekingen op grootboeken van het type "Geld"</p>
  <p>Belastingen: Gebaseerd op alle (min en plus) boekingen op grootboeken van het type "Belastingen"  </p>
  <p>Financiele producten: Gebaseerd op alle (min en plus) boekingen op grootboeken van het type "Financiele producten" </p>
  <b>
  <% @gb_div.each do |gb_type| %>
    <p><%= gb_type[0] %> + &euro; <%= gb_type[1] %></p>
    <p><%= gb_type[0] %> - &euro; <%= gb_type[2] %></p>
    <p><%= gb_type[0] %> = &euro; <%= gb_type[3] %></p>
  <% end %>
  </b>
  
  <h2>Input</h2>
  <p>Vlottende activa: Gebaseerd op alle (min en plus) boekingen op grootboeken van het type "Vlottende activa"</p>
  <p>Vaste activa: Gebaseerd op alle (min en plus) boekingen op grootboeken van het type "Vast Activa"</p>
  <p>Kosten: Gebaseerd op alle (min en plus) boekingen op grootboeken van het type "Kosten"</p>
  <p>Personeel: Gebaseerd op alle (min en plus) boekingen op grootboeken van het type "Personeel"</p>     
  <b>
  <% @gb_input.each do |gb_type| %>
    <p><%= gb_type[0] %> + &euro; <%= gb_type[1] %></p>
    <p><%= gb_type[0] %> - &euro; <%= gb_type[2] %></p>
    <p><%= gb_type[0] %> = &euro; <%= gb_type[3] %></p>
  <% end %>
  </b>
  
   
  <h2>Output</h2>
  <p>Inkoopwaarde van de omzet: Gebaseerd alle (min en plus) boekingen met Proces "Inkoopwaarde van de omzet"</p>
  <p>Bedrijfskosten: Gebaseerd alle (min en plus) boekingen met Proces "Inkoopkosten, verkoopkosten en Algemene kosten"</p>
  <p>Omzet: Gebaseerd alle (min en plus) boekingen met Proces "Levering uit (verkopen, omzet)" </p>
  <p>Basiswinst: Gebaseerd op bovenstaande berekende waardes (= Omzet - Inkoopwaarde van de omzet - bedrijfskosten)</p>
  <b>
  <p><b>Verkopen</p>
  <p>Inkoopwaarde vd omzet + &euro; <%= @inkw_vd_omzet %></p>
  <p>Bedrijfskosten: + &euro; <%= @bedrijfskosten %></p>
  <p>Omzet: - &euro;<%= @omzet %></p>
  <p>Basiswinst: + &euro; <%= @basiswinst %></p>
  </b>
  
  
  
  <h2>Eigen vermogen</h2>
  <b>
  <p>Eigenvermogen begin van het jaar = &euro; <%= @ev_start %></p>
  <p>Eigenvermogen eind van het jaar = &euro; <%= @ev_eind %></p>
  </b>    

</div>


