<% if @jnl_ink_search %>
<div class="overeenkomst">
    <div class="inkoop-ovr">
        <div class="head">
            <div class="text">Inkoopovereenkomst</div>
        </div>
        <div class="body">
            <div class="inline">
                <div class="blok">
                    <div class="text">Boeknummer</div>
                    <input class="form" type="text" name="datum" value="<%= @jnl_ink_search.boeknummer %>">
                </div>
                <div class="blok">
                    <div class="text">Datum</div>
                    <input class="form" type="text" name="datum" value="<%= @jnl_ink_search.datum %>">
                </div>
                <div class="blok">
                    <div class="text">Betalingswijze</div>
                    <input class="form" type="text" name="datum" value="<%= @jnl_ink_search.betalingswijze %>">
                </div>
            </div>
            <div class="inline">
                <div class="blok">
                    <div class="text">Leverancier</div>
                    <input class="form" type="text" name="koper" value="<%= @jnl_ink_search.leverancier %>">
                </div>
                <div class="blok">
                    <div class="text">Te leveren</div>
                    <input class="form" type="text" name="koper" value="<%= @jnl_ink_search.hoeveelheid %>">
                </div>
                <div class="blok">
                    <div class="text">Eenheid</div>
                    <input class="form" type="text" name="stuk" value="<%= @jnl_ink_search.eenheid %>">
                </div>
            </div>
            <div class="inline">
                <div class="blok">
                    <div class="text">Productnaam</div>
                    <input class="form" type="text" name="koper" value="<%= @jnl_ink_search.productnaam %>">
                </div>
                <div class="blok">
                    <div class="text">Prijs</div>
                    <input class="form" type="text" name="koper" value="<%= @jnl_ink_search.stukprijs %>">
                </div>
                <div class="blok">
                    <div class="text">Valuta </div>
                    <input class="form" type="text" name="™€" value="<%= @jnl_ink_search.valuta %>">
                </div>
            </div>
            <div class="inline">
                <div class="blok">
                    <div class="text">BTW Percentage</div>
                    <input class="form euro" type="text" name="koper" value="<%= @jnl_ink_search.btw_percentage %>">
                </div>
                <div class="blok">
                    <div class="text">Bedrag exc. BTW</div>
                    <input class="form euro" type="text" name="koper" value="<%= @jnl_ink_search.bedrag_ex_btw %>">
                </div>
                <div class="blok">
                    <div class="text">Bedrag incl. BTW</div>
                    <input class="form euro" type="text" name="koper" value="<%= @jnl_ink_search.bedrag_inc_btw %>">
                </div>
            </div>
        </div>
        <div class="scrollyvoorwaarden">
            <div>VOORWAARDEN</div>
            <%= simple_format(@jnl_ink_search.voorwaarden) %>
        </div>
    </div>
</div>
<% end %>