<div>Hallo</div>


<%= form_for(@journaal) do |f| %>
  <% if @journaal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@journaal.errors.count, "error") %> prohibited this journaal from being saved:</h2>

      <ul>
      <% @journaal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="journaal_formulier">[journaal/-form]
  <div class="field">
    <p><%= f.label "Organisatie" %></p>
    <p><%= f.select :organisatie_id, Organisatie.all.collect{|t| [t.naam, t.id]}, { :include_blank => false } %></p>
  </div>
  <div class="field">
    <p><%= f.label "Journaaltype" %></p>
    <p><%= f.select :journaaltype_id, Journaaltype.all.collect{|t| [t.naam, t.id]}, { :include_blank => false } %></p>
  </div>
  <div class="field">
    <%= f.label :boeknummer %><br>
    <%= f.text_field :boeknummer %>
  </div>
  <div class="field">
    <%= f.label :datum %><br>
    <%= f.date_select :datum %>
  </div>
  <div class="field">
    <%= f.label :leverancier %><br>
    <%= f.text_field :leverancier %>
  </div>
  <div class="field">
    <%= f.label :klant %><br>
    <%= f.text_field :klant %>
  </div>
  <div class="field">
    <%= f.label :hoeveelheid %><br>
    <%= f.number_field :hoeveelheid %>
  </div>
  <div class="field">
    <%= f.label :eenheid %><br>
    <%= f.text_field :eenheid %>
  </div>
  <div class="field">
    <%= f.label :productnaam %><br>
    <%= f.text_field :productnaam %>
  </div>
  <div class="field">
    <%= f.label :stukprijs %><br>
    <%= f.text_field :stukprijs %>
  </div>
  <div class="field">
    <%= f.label :betalingswijze %><br>
    <%= f.text_field :betalingswijze %>
  </div>
  <div class="field">
    <%= f.label :valuta %><br>
    <%= f.text_field :valuta %>
  </div>
  <div class="field">
    <%= f.label :btw_percentage %><br>
    <%= f.number_field :btw_percentage %>
  </div>
  <div class="field">
    <%= f.label :bedrag_ex_btw %><br>
    <%= f.text_field :bedrag_ex_btw %>
  </div>
  <div class="field">
    <%= f.label :bedrag_inc_btw %><br>
    <%= f.text_field :bedrag_inc_btw %>
  </div>
  <div class="field">
    <p><%= f.label "Voorwaarden" %></p>
    <p><%= f.text_area :voorwaarden, class: "form-control", size: "40x5", :placeholder => 'Voer hier de overige voorwaarden van de overeenkomst in' %></p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>

<% end %>
