<div class="flex-rowstart">
    <div class="navtwee ">
        <div class="icon icon-informatie displaynone"></div>
        <div class="navheader">Interne verslaggeving</div>
        <div class="navbtn btninboeken button">Inboeken</div>
        <div class="navbtn btnkostprijs button">Interne berekeningen</div>
    </div>
    <div class="flex-columncenter">
        <div class="grootboeken">
            <div class="gb-all">
                <!-- <div class="titelgrootboek">Grootboek</div> -->
                <div class="gb1">
                    <div class="titel">Grootboek</div>
                    <div class="boven">
                        <div class="hori boven-orgtitel">
                            <div class="hori-a"></div>
                            <div class="hori-b"></div>
                            <div class="hori-c"></div>
                        </div>
                        <div class="hori boven-geld">
                            <div class="hori-a "></div>
                            <div class="hori-b welonderlijn">
                                <div class="gbr1 output">
                                    <div class="hor k1 titelinput">
                                        <div></div>
                                        <div></div>
                                        <div>Diversen</div>
                                        <div></div>
                                    </div>
                                    <div class="hor k2  verkopen ">
                                        <div class=""></div>
                                        <div>
                                            <div class="icon icon-rondje"></div>
                                        </div>
                                        <div class="button">Bank</div>
                                        <div></div>
                                    </div>
                                    <div class="hor norm evkleur">
                                        <div class="">&nbsp; </div>
                                        <div>=</div>
                                        <div>60.500</div>
                                        <div></div>
                                    </div>
                                    <div class="hor norm stroomkleur">
                                        <div class="icon icon-gelduit"></div>
                                        <div>-</div>
                                        <div>181.500</div>
                                        <div>&nbsp;</div>
                                        <div class="naamlinks">betalingen</div>
                                    </div>
                                    <div class="hor norm  stroomkleur">
                                        <div class="">&nbsp;</div>
                                        <div class="geenonderlijnwellinks">+</div>
                                        <div class="geenonderlijn ">242.000</div>
                                        <div class="icon icon-geldin"></div>
                                        <div class="naamrechts">inkomsten</div>
                                    </div>
                                </div>
                            </div>
                            <div class="hori-c "></div>
                        </div>
                        <div class="hori boven-geld ">
                            <div class="hori-a "></div>
                            <div class="hori-b welonderlijn">
                                <div class="gbr1 output gbrboven">
                                    <div class="hor k2  verkopen ">
                                        <div class=""></div>
                                        <div>
                                            <div class="icon icon-plichtoverheid"></div>
                                        </div>
                                        <div class="button">Te betalen btw</div>
                                        <div></div>
                                    </div>
                                    <div class="hor norm evkleur">
                                        <div class="">&nbsp; </div>
                                        <div>=</div>
                                        <div>- 10.500</div>
                                        <div></div>
                                    </div>
                                    <div class="hor norm stroomkleur">
                                        <div class="icon icon-neg"></div>
                                        <div>-</div>
                                        <div>42.000</div>
                                        <div>&nbsp;</div>
                                        <div class="naamlinks">btw verkopen</div>
                                    </div>
                                    <div class="hor norm  stroomkleur">
                                        <div class="">&nbsp;</div>
                                        <div class="">+</div>
                                        <div class=" ">31.500 </div>
                                        <div class="icon icon-pos"></div>
                                        <div class="naamrechts">btw inkopen</div>
                                    </div>
                                    <div class="hor norm  stroomkleur">
                                        <div class="">&nbsp;</div>
                                        <div class="geenonderlijnwellinks">+</div>
                                        <div class="geenonderlijn ">0 </div>
                                        <div class="icon icon-pos"></div>
                                        <div class="naamrechts">btw-verplichting betaald</div>
                                    </div>
                                </div>
                            </div>
                            <div class="hori-c "></div>
                        </div>
                        <div class="hori boven-geld ">
                            <div class="hori-a "></div>
                            <div class="hori-b welonderlijn">
                                <div class="gbr1 output gbrboven">
                                    <div class="hor k2  verkopen ">
                                        <div class=""></div>
                                        <div>
                                            <div class="icon icon-plichtgeld evkleur"></div>
                                        </div>
                                        <div class="button">Lening (5% rente)</div>
                                        <div></div>
                                    </div>
                                    <div class="hor norm evkleur">
                                        <div class="">&nbsp; </div>
                                        <div>=</div>
                                        <div>- 20.000</div>
                                        <div></div>
                                    </div>
                                    <div class="hor norm stroomkleur">
                                        <div class="icon icon-neg"></div>
                                        <div>-</div>
                                        <div>1.000</div>
                                        <div>&nbsp;</div>
                                        <div class="naamlinks kosten-input">Rente</div>
                                    </div>
                                </div>
                            </div>
                            <div class="hori-c "></div>
                        </div>
                        <!--            
                                        <div class="hori boven-fin">                           
                                            <div class="hori-a"></div>
                                            <div class="hori-b">Financi&euml;le producten</div>
                                            <div class="hori-c"></div>                                 
                                        </div>    -->
                    </div>
                    <div class="onder">
                        <!-- space between -->
                        <div class="input">
                            <div class="gbr1">
                                <!-- column -->
                                <div class="hor k1 titelinput">
                                    <div></div>
                                    <div></div>
                                    <div>Input</div>
                                    <div></div>
                                </div>
                                <div class="hor k2 voorraad">
                                    <div class=""></div>
                                    <div>
                                        <div class="icon icon-rondje"></div>
                                    </div>
                                    <div class="button">Vlottende activa</div>
                                    <div></div>
                                </div>
                                <div class="hor norm evkleur">
                                    <div class="">&nbsp; </div>
                                    <div>=</div>
                                    <div>0</div>
                                    <div>&nbsp; </div>
                                </div>
                                <div class="hor norm stroomkleur">
                                    <div class="icon icon-stroommarktin"></div>
                                    <div>+</div>
                                    <div>100.000</div>
                                    <div>&nbsp;</div>
                                    <div class="naamlinks">inkopen</div>
                                </div>
                                <div class="hor norm stroomkleur">
                                    <div class="">&nbsp;</div>
                                    <div>-</div>
                                    <div>100.000</div>
                                    <div class="icon icon-stroominternuit"></div>
                                    <div class="naamrechts kosten-input">Inkoopwaarde vd omzet</div>
                                </div>
                            </div>
                            <div class="gbr1">
                                <div class="hor k2  vasteactiva">
                                    <div></div>
                                    <div>
                                        <div class="icon icon-vierkant"></div>
                                    </div>
                                    <div class="">Vaste activa</div>
                                    <div></div>
                                </div>
                                <div class="hor norm evkleur">
                                    <div></div>
                                    <div>=</div>
                                    <div>8.000</div>
                                    <div></div>
                                </div>
                                <div class="hor norm stroomkleur">
                                    <div class="icon icon-stroommarktin"></div>
                                    <div>+</div>
                                    <div>10.000</div>
                                    <div>&nbsp;</div>
                                    <div class="naamlinks">inkopen</div>
                                </div>
                                <div class="hor norm stroomkleur">
                                    <div class="">&nbsp;</div>
                                    <div>-</div>
                                    <div>2.000</div>
                                    <div class="icon icon-stroominternuit"></div>
                                    <div class="naamrechts kosten-input">Algemene kosten</div>
                                </div>
                            </div>
                            <div class="gbr1">
                                <div class="hor k2 ">
                                    <div></div>
                                    <div>
                                        <div class="icon icon-pijlhoofdmarkt"></div>
                                    </div>
                                    <div>Kosten</div>
                                    <div></div>
                                </div>
                                <div class="hor norm stroomkleur">
                                    <div class="icon icon-stroommarktin">&nbsp; </div>
                                    <div>+</div>
                                    <div>40.000</div>
                                    <div></div>
                                    <div class="naamlinks">inkopen</div>
                                </div>
                                <div class="hor norm stroomkleur">
                                    <div>&nbsp;</div>
                                    <div>-</div>
                                    <div>8.000</div>
                                    <div class="icon icon-stroominternuit"></div>
                                    <div class="naamrechts kosten-input">Inkoopkosten</div>
                                </div>
                                <div class="hor norm stroomkleur">
                                    <div>&nbsp;</div>
                                    <div>-</div>
                                    <div>12.000</div>
                                    <div class="icon icon-stroominternuit"></div>
                                    <div class="naamrechts kosten-input">Verkoopkosten</div>
                                </div>
                                <div class="hor norm stroomkleur">
                                    <div>&nbsp;</div>
                                    <div>-</div>
                                    <div>20.000</div>
                                    <div class="icon icon-stroominternuit"></div>
                                    <div class="naamrechts kosten-input">Algemene kosten</div>
                                </div>
                            </div>
                            <div class="gbr1">
                                <div class="hor k2  personeel">
                                    <div></div>
                                    <div>
                                        <div class="icon icon-mens"></div>
                                    </div>
                                    <div>Personeel</div>
                                    <div></div>
                                </div>
                                <div class="hor norm stroomkleur">
                                    <div class="icon icon-stroommarktin">&nbsp;</div>
                                    <div>+</div>
                                    <div>0</div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <div class="output">
                            <div class="gbr1">
                                <div class="hor k1 titelinput">
                                    <div></div>
                                    <div></div>
                                    <div>Output</div>
                                    <div></div>
                                </div>
                                <div class="hor k2  verkopen ">
                                    <div class=""></div>
                                    <div>
                                        <div class="icon icon-rondje"></div>
                                    </div>
                                    <div class="button">Verkocht brood</div>
                                    <div></div>
                                </div>
                                <div class="hor norm evkleur">
                                    <div class="">&nbsp; </div>
                                    <div>=</div>
                                    <div>0</div>
                                    <div>&nbsp; </div>
                                </div>
                                <div class="hor norm stroomkleur">
                                    <div class="icon icon-stroominternin"></div>
                                    <div>+</div>
                                    <div>100.000</div>
                                    <div>&nbsp;</div>
                                    <div class="naamlinks kosten-output button">Inkoopwaarde vd omzet</div>
                                </div>
                                <div class="hor norm stroomkleur">
                                    <div class="icon icon-stroominternin"></div>
                                    <div>+</div>
                                    <div>50.000</div>
                                    <div>&nbsp;</div>
                                    <div class="naamlinks kosten-output button">Bedrijfskosten</div>
                                </div>
                                <div class="hor norm stroomkleur">
                                    <div class="icon icon-winstpos winstweergave"></div>
                                    <div>+</div>
                                    <div>50.000</div>
                                    <div>&nbsp;</div>
                                    <div class="naamlinks">Bruto winst</div>
                                </div>
                                <div class="hor norm stroomkleur">
                                    <div class="">&nbsp;</div>
                                    <div>-</div>
                                    <div>200.000</div>
                                    <div class="icon icon-stroommarktuit"></div>
                                    <div class="naamrechts">Omzet</div>
                                </div>
                            </div>
                        </div>
                        <!-- interne berekeningen -->
                        <div class="kprijscontainer displaynone">
                            <div class="kprijsb ">
                                <div class="titelhoofd">Interne berekeningen</div>
                                <div class="titel">Vaste verrekenprijs, kostprijs en verkoopprijs</div>
                                <div class="col col1">
                                    <div class="k-iwo omtrek">
                                        <div class="text">Inkoopwaarde van de omzet</div>
                                        <div class=" ">&euro; 100.000 (totaal)</div>
                                        <div class=" ">&euro; 1,00 (per stuk)</div>
                                    </div>
                                    <div class="k-bdv"><span class="verhoogd">Kosten voor bedrijfsvoering</span>
                                        <div class="k-ink">
                                            <div class="text">Inkoopkosten</div>
                                            <div class=" ">&euro; 10.000 (totaal)</div>
                                            <div class=" ">&euro; 0,10 (per stuk)</div>
                                        </div>
                                        <div class="k-ovh"><span class="verhoogd">Overheadkosten</span>
                                            <div class="k-vrk">
                                                <div class="text">Verkoopkosten</div>
                                                <div class=" ">&euro; 10.000 (totaal)</div>
                                                <div class=" ">&euro; 0,10 (per stuk)</div>
                                            </div>
                                            <div class="k-alg">
                                                <div class="text">Algemene kosten</div>
                                                <div class=" ">&euro; 52.000 (totaal)</div>
                                                <div class=" ">&euro; 0,52 (per stuk)</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col2">
                                    <div class="vvpbuiten">
                                        <div class="vvp">
                                            <div class="text">Vaste verrekenprijs (vvp)</div>
                                            <div></div>
                                            <div class=" ">&euro; 1,10</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col3">
                                    <div class="k-kpbuiten">
                                        <div class="k-kp">
                                            <div class="text">Kostprijs</div>
                                            <div></div>
                                            <div class=" ">&euro; 1,72</div>
                                        </div>
                                    </div>
                                    <div class="winstm">
                                        <div class="text">Winstmarge</div>
                                        <div></div>
                                        <div class=" ">&euro; 0,28</div>
                                    </div>
                                </div>
                                <div class="col col4">
                                    <div class="pverkoop">
                                        <div class="text">Verkoopprijs</div>
                                        <div></div>
                                        <div class=" ">&euro; 2,00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lijn"></div>
                <div class="hori boven-geld">
                    <div class="hori-a "></div>
                    <div class="hori-b welonderlijn">
                        <div class="gbr1 output">
                            <div class="hor k1 titelinput">
                                <div></div>
                                <div></div>
                                <div>Eigen Vermogen</div>
                                <div></div>
                            </div>
                            <div class="hor k2  verkopen ">
                                <div class=""></div>
                                <div>
                                    <div class="icon icon-ev"></div>
                                </div>
                                <div class="button">Eigen vermogen</div>
                                <div></div>
                            </div>
                            <div class="hor norm evkleur">
                                <div class="">&nbsp; </div>
                                <div>= 31 dec '20</div>
                                <div>48.500</div>
                                <div></div>
                            </div>
                            <div class="hor norm stroomkleur">
                                <div class="icon icon-pos"></div>
                                <div>+</div>
                                <div>100.000</div>
                                <div>&nbsp;</div>
                                <div class="naamlinks">Bruto winst</div>
                            </div>
                            <div class="hor norm stroomkleur">
                                <div class="icon icon-neg"></div>
                                <div>+</div>
                                <div>50.000</div>
                                <div>&nbsp;</div>
                                <div class="naamlinks">Bedrijfskosten</div>
                            </div>
                            <div class="hor norm stroomkleur">
                                <div class="icon icon-neg"></div>
                                <div>-</div>
                                <div>1.000</div>
                                <div>&nbsp;</div>
                                <div class="naamlinks">Lening</div>
                            </div>
                            <div class="hor norm  stroomkleur">
                                <div class="">&nbsp;</div>
                                <div class="geenonderlijnwellinks">= 01 jan '20</div>
                                <div class="geenonderlijn ">- 500</div>
                                <div class=""></div>
                                <div class="naamrechts"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="containerinboeken displaynone">
            <!-- nodig voor displaynone (aparte div, andere heeft al display gebruikt) -->
            <div class="inboeken-all">
                <div class="journaals">
                    <div class="header">Journaals</div>
                    <div class="klap"><img src="/images/orgbakker/klappers.png"></div>
                    <div class="btns">
                        <div class="btn-inboeken inkoop button bold">inkoopboek</div>
                        <div class="btn-inboeken verkoop button">verkoopboek</div>
                        <div class="btn-inboeken bank button">bankboek</div>
                        <div class="btn-inboeken leveringen button">leveringen</div>
                    </div>
                     <!-- inkoopboek -->
                    <%= render 'journaals/jnlinkoop' %>
                  
                    <!-- verkoopboek -->
                    <%= render 'journaals/jnlverkoop' %>
                    
                    <!-- bankboek -->
                    <%= render 'journaals/jnlbank' %>
                    
                    <!-- leveringen -->
                    <%= render 'journaals/jnllevering' %>
               
            </div>
                <div class="kopje">Inboeken</div>
                <div class="boekin inkoop">
                    <!-- <div class="inboekingsmogelijkheden inkoop">
                        <div class="inboek">
                            <div class="header">Voorraad</div>
                            <div class="icon icon-rondje"></div>
                            <div class="gbr-row-voorraad gbr-row-header ">
                                <div class="dd"></div>
                                <div class="gbr-ovr"></div>
                                <div class="beschrijving"></div>
                                <div class="icoon"></div>
                                <div class="sign"></div>
                                <div class="gbr-w"></div>
                                <div class="gbr-p"></div>
                                <div class="gbr-h"></div>
                                <div class="gbr-n"></div>
                                <div class="ks"></div>
                                <div class="kf"></div>
                            </div>
                            <div class="gbr-row-voorraad eurox">
                                <div class="dd">1 feb</div>
                                <div class="gbr-ovr">ink-1101</div>
                                <div class="beschrijving">brood</div>
                                <div class="icoon icon icon-stroommarktin"></div>
                                <div class="sign">+</div>
                                <div class="gbr-w">300</div>
                                <div class="gbr-p">1</div>
                                <div class="gbr-h">300</div>
                                <div class="gbr-n">Voorraad goederen (3000)</div>
                                <div class="ks "> </div>
                                <div class="kf "> </div>
                            </div>
                        </div>
                        <div class="inboek">
                            <div class="header">Crediteuren</div>
                            <div class="icon icon-plichtgeld"></div>
                            <div class="gbr-row-rechtplicht gbr-row-header ">
                                <div class="dd"></div>
                                <div class="gbr-ovr"></div>
                                <div class="beschrijving"></div>
                                <div class="icoon"></div>
                                <div class="sign"></div>
                                <div class="gbr-w"></div>
                                <div class="gbr-orgnaam"></div>
                                <div class="gbr-n"></div>
                                <div class="ks"></div>
                                <div class="kf"> </div>
                            </div>
                            <div class="gbr-row-rechtplicht eurox">
                                <div class="dd">1 feb</div>
                                <div class="gbr-ovr">ink-1101</div>
                                <div class="beschrijving">brood</div>
                                <div class="icoon icon icon-neg"></div>
                                <div class="sign">-</div>
                                <div class="gbr-w">318</div>
                                <div class="gbr-orgnaam">Leverancier A</div>
                                <div class="gbr-n">Crediteuren (1600)</div>
                                <div class="ks styled-select">
                                    <select class="">
                                        <option value="welkom">geldstromen sectoren</option>
                                        <option value="situaties">import (M)</option>
                                        <option value="situaties">export (X)</option>
                                        <option value="situaties">inkomen (Y)</option>
                                        <option value="mensen">besparingen (S)</option>
                                        <option value="producten">investeringen (I)</option>
                                        <option value="producten" selected>geld binnen sector</option>
                                    </select>
                                </div>
                                <div class="kf styled-select">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="inboek">
                                <div class="header">Terug te ontvangen BTW</div>
                                <div class="icon icon-rechtoverheid"></div>
                                <div class="gbr-row-rechtplicht gbr-row-header ">
                                    <div class="dd"></div>
                                    <div class="gbr-ovr"></div>
                                    <div class="beschrijving"></div>
                                    <div class="icoon"></div>
                                    <div class="sign"></div>
                                    <div class="gbr-w"></div>
                                    <div class="gbr-orgnaam"></div>
                                    <div class="gbr-n"></div>
                                    <div class="ks"></div>
                                    <div class="kf"> </div>
                                </div>
                                <div class="gbr-row-rechtplicht eurox">
                                    <div class="dd">1 feb</div>
                                    <div class="gbr-ovr">ink-1101</div>
                                    <div class="beschrijving">brood</div>
                                    <div class="icoon icon icon-pos"></div>
                                    <div class="sign">+</div>
                                    <div class="gbr-w">18</div>
                                    <div class="gbr-orgnaam">Belastingdienst</div>
                                    <div class="gbr-n">Te ontvangen btw (1801)</div>
                                    <div class="ks styled-select"></div>
                                    <div class="kf styled-select"></div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                      <div class="inboekingsmogelijkheden inkoop">
                        <div id="search_bkninkoop_results">
                          <%= render 'journaals/inboek_ink' %>
                        </div>
                      </div>  
                    <div class="inboekingsmogelijkheden verkoop displaynone">
                        <div id="search_bknverkoop_results">
                          <%= render 'journaals/inboek_verk' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- gb -->
        <div class="gbr-vergroot voorraad displaynone">
            <div class="titel button">
                <div class="icon icon-rondje"></div>
                <div>Voorraad</div>
                <div>Periode: 1 jan tot heden</div>
                <div class="icon icon-delete button"></div>
            </div>
            <div class="info">
                <div class="header">
                    <div>Samenvatting</div>
                </div>
                <div class="rij">
                    <div>Totaal inkopen</div>
                    <div>+</div>
                    <div>&euro; 100.000</div>
                </div>
                <div class="rij">
                    <div>Totaal inkoopwaarde vd verkopen</div>
                    <div>-</div>
                    <div>&euro; 100.000</div>
                </div>
            </div>
            <div class="info2">
                <div class="header">
                    <div>Overig</div>
                </div>
                <div class="rij">
                    <div>Wanneer bestellen?</div>
                    <div>Voor 15:00 uur; dag van te voren</div>
                </div>
                <div class="rij">
                    <div>Levertijd</div>
                    <div>Volgende morgen om 07:00 uur</div>
                </div>
                <div class="rij">
                    <div>Besteleendheid</div>
                    <div>Stuk</div>
                </div>
            </div>
            <div class="header">
                <div>Alle boekingen</div>
            </div>
            <div class="gbr-rows">
                <div class="gbr-row gbr-row-header ">
                    <div class="dd">datum</div>
                    <div class="gbr-ovr">overeenkomst</div>
                    <div class="beschrijving">productbeschrijving</div>
                    <div class="icoon">icoon</div>
                    <div class="sign">bij/af</div>
                    <div class="gbr-w">waarde</div>
                    <div class="gbr-h">h</div>
                    <div class="gbr-p">P-ink</div>
                    <div class="ks styled-select">beschrijving 1</div>
                    <div class="kf styled-select">beschrijving 2 </div>
                </div>
                <div class="gbr-rows-scroll">
                    <div class="gbr-row">
                        <div class="dd">1 feb</div>
                        <div class="gbr-ovr">ink-1101</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroommarktin"></div>
                        <div class="sign">+</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">levering</div>
                        <div class="kf"></div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">1 feb</div>
                        <div class="gbr-ovr">vrk-1nov</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroominternuit"></div>
                        <div class="sign">--</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">grondstoffen</div>
                        <div class="kf">inkoopwaarde van de omzet</div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">31 jan</div>
                        <div class="gbr-ovr">ink-1101</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroommarktin"></div>
                        <div class="sign">+</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">levering</div>
                        <div class="kf"></div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">31 jan</div>
                        <div class="gbr-ovr">vrk-1nov</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroominternuit"></div>
                        <div class="sign">--</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">grondstoffen</div>
                        <div class="kf">inkoopwaarde van de omzet</div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">30 jan</div>
                        <div class="gbr-ovr">ink-1101</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroommarktin"></div>
                        <div class="sign">+</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">levering</div>
                        <div class="kf"></div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">30 jan</div>
                        <div class="gbr-ovr">vrk-1nov</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroominternuit"></div>
                        <div class="sign">--</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">grondstoffen</div>
                        <div class="kf">inkoopwaarde van de omzet</div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">29 jan</div>
                        <div class="gbr-ovr">ink-1101</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroommarktin"></div>
                        <div class="sign">+</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">levering</div>
                        <div class="kf"></div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">29 jan</div>
                        <div class="gbr-ovr">vrk-1nov</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroominternuit"></div>
                        <div class="sign">--</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">grondstoffen</div>
                        <div class="kf">inkoopwaarde van de omzet</div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">28 jan</div>
                        <div class="gbr-ovr">ink-1101</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroommarktin"></div>
                        <div class="sign">+</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">levering</div>
                        <div class="kf"></div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">28 jan</div>
                        <div class="gbr-ovr">vrk-1nov</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroominternuit"></div>
                        <div class="sign">--</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">grondstoffen</div>
                        <div class="kf">inkoopwaarde van de omzet</div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">27 jan</div>
                        <div class="gbr-ovr">ink-1101</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroommarktin"></div>
                        <div class="sign">+</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">levering</div>
                        <div class="kf"></div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">27 jan</div>
                        <div class="gbr-ovr">vrk-1nov</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroominternuit"></div>
                        <div class="sign">--</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">grondstoffen</div>
                        <div class="kf">inkoopwaarde van de omzet</div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">26 jan</div>
                        <div class="gbr-ovr">ink-1101</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroommarktin"></div>
                        <div class="sign">+</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">levering</div>
                        <div class="kf"></div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">26 jan</div>
                        <div class="gbr-ovr">vrk-1nov</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroominternuit"></div>
                        <div class="sign">--</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">grondstoffen</div>
                        <div class="kf">inkoopwaarde van de omzet</div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">25 jan</div>
                        <div class="gbr-ovr">ink-1101</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroommarktin"></div>
                        <div class="sign">+</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">levering</div>
                        <div class="kf"></div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">25 jan</div>
                        <div class="gbr-ovr">vrk-1nov</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroominternuit"></div>
                        <div class="sign">--</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">grondstoffen</div>
                        <div class="kf">inkoopwaarde van de omzet</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- gbr-vergroot -->
        <div class="gbr-vergroot verkopen displaynone">
            <div class="titel button">
                <div class="icon icon-rondje"></div>
                <div>Vooorraad winkel</div>
                <div>Periode: 1 jan tot heden</div>
                <div class="icon icon-delete button"></div>
            </div>
            <div class="info">
                <div class="header">
                    <div>Samenvatting</div>
                </div>
                <div class="rij">
                    <div>Totaal inkopen</div>
                    <div>+</div>
                    <div>&euro; 100.000</div>
                </div>
                <div class="rij">
                    <div>Totaal omzet</div>
                    <div>-</div>
                    <div>&euro; 200.000</div>
                </div>
                <div class="rij winstweergave">
                    <div>Totale bruto winst</div>
                    <div>+</div>
                    <div>&euro; 100.000</div>
                </div>
                <div class="rij">
                    <div>Totale voorraad</div>
                    <div>+</div>
                    <div>&euro; 0</div>
                </div>
            </div>
            <div class="info2">
                <div class="header">
                    <div>Overig</div>
                </div>
                <div class="rij">
                    <div>Wanneer verkopen?</div>
                    <div>Maandag t/m zaterdag tussen 08:00 en 16:00 uur</div>
                </div>
                <div class="rij">
                    <div>Levertijd</div>
                    <div>direct mee te nemen</div>
                </div>
                <div class="rij">
                    <div>Besteleendheid</div>
                    <div>Stuk</div>
                </div>
            </div>
            <div class="header">
                <div>Boekingen</div>
            </div>
            <div class="gbr-rows">
                <div class="gbr-row gbr-row-header ">
                    <div class="dd">datum</div>
                    <div class="gbr-ovr">overeenkomst</div>
                    <div class="beschrijving">productbeschrijving</div>
                    <div class="icoon">icoon</div>
                    <div class="sign">bij/af</div>
                    <div class="gbr-w">waarde</div>
                    <div class="gbr-h">h</div>
                    <div class="gbr-p">P-ink</div>
                    <div class="ks styled-select">beschrijving 1</div>
                    <div class="kf styled-select">beschrijving 2 </div>
                </div>
                <div class="gbr-rows-scroll">
                    <div class="gbr-row">
                        <div class="dd">01 feb</div>
                        <div class="gbr-ovr">verk-01feb</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroommarktuit"></div>
                        <div class="sign">--</div>
                        <div class="gbr-w">600</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">2</div>
                        <div class="ks">opbrengst van de verkopen (8400)</div>
                        <div class="kf">omzet</div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">01 feb</div>
                        <div class="gbr-ovr">verk-01feb</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroomintenrin"></div>
                        <div class="sign">+</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">kostprijs van de verkopen (8000)</div>
                        <div class="kf"></div>
                    </div>
                    <div class="gbr-row winstweergave">
                        <div class="dd">01 feb</div>
                        <div class="gbr-ovr">verk-01feb</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-winstpos"></div>
                        <div class="sign">+</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h"></div>
                        <div class="gbr-p"></div>
                        <div class="ks">brutowinst</div>
                        <div class="kf"></div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">02 feb</div>
                        <div class="gbr-ovr">verk-01feb</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroommarktuit"></div>
                        <div class="sign">--</div>
                        <div class="gbr-w">600</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">2</div>
                        <div class="ks">opbrengst van de verkopen (8400)</div>
                        <div class="kf">omzet</div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">02 feb</div>
                        <div class="gbr-ovr">verk-01feb</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroominternin"></div>
                        <div class="sign">+</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">kostprijs van de verkopen (8000)</div>
                        <div class="kf"></div>
                    </div>
                    <div class="gbr-row winstweergave">
                        <div class="dd">02 feb</div>
                        <div class="gbr-ovr">verk-01feb</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-winstpos"></div>
                        <div class="sign">+</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h"></div>
                        <div class="gbr-p"></div>
                        <div class="ks">brutowinst</div>
                        <div class="kf"></div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">03 feb</div>
                        <div class="gbr-ovr">verk-01feb</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroommarktuit"></div>
                        <div class="sign">--</div>
                        <div class="gbr-w">600</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">2</div>
                        <div class="ks">opbrengst van de verkopen (8400)</div>
                        <div class="kf">omzet</div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">03 feb</div>
                        <div class="gbr-ovr">verk-01feb</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroominternin"></div>
                        <div class="sign">+</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">kostprijs van de verkopen (8000)</div>
                        <div class="kf"></div>
                    </div>
                    <div class="gbr-row winstweergave">
                        <div class="dd">03 feb</div>
                        <div class="gbr-ovr">verk-01feb</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-winstpos"></div>
                        <div class="sign">+</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h"></div>
                        <div class="gbr-p"></div>
                        <div class="ks">brutowinst</div>
                        <div class="kf"></div>
                    </div>
                </div>
            </div>
        </div>
<!-- gbr-vergroot -->
    </div>
</div>







