<script>
  // AN: Kies een journaal
  $('#jnl_ink').change(function() {
     $("#search_jnlink_submit").click();
  });
  $('#jnl_verk').change(function() {
     $("#search_jnlverk_submit").click();
  });
  $('#jnl_bank').change(function() {
     $("#search_jnlbank_submit").click();
  });
  $('#jnl_lev').change(function() {
     $("#search_jnllev_submit").click();
  });
  $('#jnl_intern').change(function() {
     $("#search_jnlintern_submit").click();
  });
</script>
  
<div class="flex-rowstart">
    <div class="navtwee ">
        <div class="icon icon-informatie displaynone"></div>
        <div class="navheader">Interne verslaggeving</div>
        <div class="navbtn btninboeken button">Inboeken</div>
        <div class="navbtn btnkostprijs button">Interne berekeningen</div>
    </div>
    <div class="flex-columncenter">
          <div id="search_gb_results">
            <%= render 'journaals/grootboek' %>
          </div>
        <div class="containerinboeken displaynone">
            <!-- nodig voor displaynone (aparte div, andere heeft al display gebruikt) -->
            <div class="inboeken-all">
                <div class="journaals">
                    <div class="header">Journaals</div>
                    <div class="klap"><img src="/images/orgbakker/klappers.png"></div>
                    <div class="btns">
                        <div class="btn-inboeken inkoop button bold">inkoopboek</div>
                        <div class="btn-inboeken verkoop button">verkoopboek</div>
                        <div class="btn-inboeken bank button">bankboek</div>
                        <div class="btn-inboeken leveringen button">leveringen</div>
                        <div class="btn-inboeken intern button">Interne Boekingen</div>
                    </div>
                    <!-- inkoopboek -->
                    <%= render 'journaals/jnlinkoop' %>
                  
                    <!-- verkoopboek -->
                    <%= render 'journaals/jnlverkoop' %>
                    
                    <!-- bankboek -->
                    <%= render 'journaals/jnlbank' %>
                    
                    <!-- leveringen -->
                    <%= render 'journaals/jnllevering' %>
                    
                    <!-- Interne boekingen -->
                    <%= render 'journaals/jnlintern' %>
               
            </div>

                <div class="kopje">Inboeken</div>
                <div class="boekin inkoop">
                    <!-- <div class="inboekingsmogelijkheden inkoop">
                        <div class="inboek">
                            <div class="header">Voorraad</div>
                            <div class="icon icon-rondje"></div>
                            <div class="gbr-row-voorraad gbr-row-header ">
                                <div class="dd"></div>
                                <div class="gbr-ovr"></div>
                                <div class="beschrijving"></div>
                                <div class="icoon"></div>
                                <div class="sign"></div>
                                <div class="gbr-w"></div>
                                <div class="gbr-p"></div>
                                <div class="gbr-h"></div>
                                <div class="gbr-n"></div>
                                <div class="ks"></div>
                                <div class="kf"></div>
                            </div>
                            <div class="gbr-row-voorraad eurox">
                                <div class="dd">1 feb</div>
                                <div class="gbr-ovr">ink-1101</div>
                                <div class="beschrijving">brood</div>
                                <div class="icoon icon icon-stroommarktin"></div>
                                <div class="sign">+</div>
                                <div class="gbr-w">300</div>
                                <div class="gbr-p">1</div>
                                <div class="gbr-h">300</div>
                                <div class="gbr-n">Voorraad goederen (3000)</div>
                                <div class="ks "> </div>
                                <div class="kf "> </div>
                            </div>
                        </div>
                        <div class="inboek">
                            <div class="header">Crediteuren</div>
                            <div class="icon icon-plichtgeld"></div>
                            <div class="gbr-row-rechtplicht gbr-row-header ">
                                <div class="dd"></div>
                                <div class="gbr-ovr"></div>
                                <div class="beschrijving"></div>
                                <div class="icoon"></div>
                                <div class="sign"></div>
                                <div class="gbr-w"></div>
                                <div class="gbr-orgnaam"></div>
                                <div class="gbr-n"></div>
                                <div class="ks"></div>
                                <div class="kf"> </div>
                            </div>
                            <div class="gbr-row-rechtplicht eurox">
                                <div class="dd">1 feb</div>
                                <div class="gbr-ovr">ink-1101</div>
                                <div class="beschrijving">brood</div>
                                <div class="icoon icon icon-neg"></div>
                                <div class="sign">-</div>
                                <div class="gbr-w">318</div>
                                <div class="gbr-orgnaam">Leverancier A</div>
                                <div class="gbr-n">Crediteuren (1600)</div>
                                <div class="ks styled-select">
                                    <select class="">
                                        <option value="welkom">geldstromen sectoren</option>
                                        <option value="situaties">import (M)</option>
                                        <option value="situaties">export (X)</option>
                                        <option value="situaties">inkomen (Y)</option>
                                        <option value="mensen">besparingen (S)</option>
                                        <option value="producten">investeringen (I)</option>
                                        <option value="producten" selected>geld binnen sector</option>
                                    </select>
                                </div>
                                <div class="kf styled-select">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="inboek">
                                <div class="header">Terug te ontvangen BTW</div>
                                <div class="icon icon-rechtoverheid"></div>
                                <div class="gbr-row-rechtplicht gbr-row-header ">
                                    <div class="dd"></div>
                                    <div class="gbr-ovr"></div>
                                    <div class="beschrijving"></div>
                                    <div class="icoon"></div>
                                    <div class="sign"></div>
                                    <div class="gbr-w"></div>
                                    <div class="gbr-orgnaam"></div>
                                    <div class="gbr-n"></div>
                                    <div class="ks"></div>
                                    <div class="kf"> </div>
                                </div>
                                <div class="gbr-row-rechtplicht eurox">
                                    <div class="dd">1 feb</div>
                                    <div class="gbr-ovr">ink-1101</div>
                                    <div class="beschrijving">brood</div>
                                    <div class="icoon icon icon-pos"></div>
                                    <div class="sign">+</div>
                                    <div class="gbr-w">18</div>
                                    <div class="gbr-orgnaam">Belastingdienst</div>
                                    <div class="gbr-n">Te ontvangen btw (1801)</div>
                                    <div class="ks styled-select"></div>
                                    <div class="kf styled-select"></div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                      <div class="inboekingsmogelijkheden inkoop">
                        <div id="search_bkninkoop_results">
                          <%= render 'journaals/inboek_ink' %>
                        </div>
                      </div>  
                    <div class="inboekingsmogelijkheden verkoop displaynone">
                        <div id="search_bknverkoop_results">
                          <%= render 'journaals/inboek_verk' %>
                        </div>
                    </div>
                    <div class="inboekingsmogelijkheden bank displaynone">
                        <div id="search_bknbank_results">
                          <%= render 'journaals/inboek_bank' %>
                        </div>
                    </div>
                    <div class="inboekingsmogelijkheden leveringen displaynone">
                        <div id="search_bknlev_results">
                          <%= render 'journaals/inboek_lev' %>
                        </div>
                    </div>
                    <div class="inboekingsmogelijkheden intern displaynone">
                        <div id="search_bknintern_results">
                          <%= render 'journaals/inboek_intern' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- interne berekeningen -->
        <div class="kprijscontainer displaynone">
            <div class="kprijsb ">
                <div class="titelhoofd">Interne berekeningen</div>
                <div class="titel">Vaste verrekenprijs, kostprijs en verkoopprijs</div>
                <div class="col col1">
                    <div class="k-iwo omtrek">
                        <div class="text">Inkoopwaarde van de omzet</div>
                        <div class=" ">&euro; 100.000 (totaal)</div>
                        <div class=" ">&euro; 1,00 (per stuk)</div>
                    </div>
                    <div class="k-bdv"><span class="verhoogd">Kosten voor bedrijfsvoering</span>
                        <div class="k-ink">
                            <div class="text">Inkoopkosten</div>
                            <div class=" ">&euro; 10.000 (totaal)</div>
                            <div class=" ">&euro; 0,10 (per stuk)</div>
                        </div>
                        <div class="k-ovh"><span class="verhoogd">Overheadkosten</span>
                            <div class="k-vrk">
                                <div class="text">Verkoopkosten</div>
                                <div class=" ">&euro; 10.000 (totaal)</div>
                                <div class=" ">&euro; 0,10 (per stuk)</div>
                            </div>
                            <div class="k-alg">
                                <div class="text">Algemene kosten</div>
                                <div class=" ">&euro; 52.000 (totaal)</div>
                                <div class=" ">&euro; 0,52 (per stuk)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col2">
                    <div class="vvpbuiten">
                        <div class="vvp">
                            <div class="text">Vaste verrekenprijs (vvp)</div>
                            <div></div>
                            <div class=" ">&euro; 1,10</div>
                        </div>
                    </div>
                </div>
                <div class="col col3">
                    <div class="k-kpbuiten">
                        <div class="k-kp">
                            <div class="text">Kostprijs</div>
                            <div></div>
                            <div class=" ">&euro; 1,72</div>
                        </div>
                    </div>
                    <div class="winstm">
                        <div class="text">Winstmarge</div>
                        <div></div>
                        <div class=" ">&euro; 0,28</div>
                    </div>
                </div>
                <div class="col col4">
                    <div class="pverkoop">
                        <div class="text">Verkoopprijs</div>
                        <div></div>
                        <div class=" ">&euro; 2,00</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- gb -->
        <!-- <div class="gbr-vergroot voorraad displaynone">
            <div class="titel button">
                <div class="icon icon-rondje"></div>
                <div>Voorraad</div>
                <div>Periode: 1 jan tot heden</div>
                <div class="icon icon-delete button"></div>
            </div>
            <div class="info">
                <div class="header">
                    <div>Samenvatting</div>
                </div>
                <div class="rij">
                    <div>Totaal inkopen</div>
                    <div>+</div>
                    <div>&euro; 100.000</div>
                </div>
                <div class="rij">
                    <div>Totaal inkoopwaarde vd verkopen</div>
                    <div>-</div>
                    <div>&euro; 100.000</div>
                </div>
            </div>
            <div class="info2">
                <div class="header">
                    <div>Overig</div>
                </div>
                <div class="rij">
                    <div>Wanneer bestellen?</div>
                    <div>Voor 15:00 uur; dag van te voren</div>
                </div>
                <div class="rij">
                    <div>Levertijd</div>
                    <div>Volgende morgen om 07:00 uur</div>
                </div>
                <div class="rij">
                    <div>Besteleendheid</div>
                    <div>Stuk</div>
                </div>
            </div>
            <div class="header">
                <div>Alle boekingen</div>
            </div>
            <div class="gbr-rows">
                <div class="gbr-row gbr-row-header ">
                    <div class="dd">datum</div>
                    <div class="gbr-ovr">overeenkomst</div>
                    <div class="beschrijving">productbeschrijving</div>
                    <div class="icoon">icoon</div>
                    <div class="sign">bij/af</div>
                    <div class="gbr-w">waarde</div>
                    <div class="gbr-h">h</div>
                    <div class="gbr-p">P-ink</div>
                    <div class="ks styled-select">beschrijving 1</div>
                    <div class="kf styled-select">beschrijving 2 </div>
                </div>
                <div class="gbr-rows-scroll">
                    <div class="gbr-row">
                        <div class="dd">1 feb</div>
                        <div class="gbr-ovr">ink-1101</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroommarktin"></div>
                        <div class="sign">+</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">levering</div>
                        <div class="kf"></div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">1 feb</div>
                        <div class="gbr-ovr">vrk-1nov</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroominternuit"></div>
                        <div class="sign">--</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">grondstoffen</div>
                        <div class="kf">inkoopwaarde van de omzet</div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">31 jan</div>
                        <div class="gbr-ovr">ink-1101</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroommarktin"></div>
                        <div class="sign">+</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">levering</div>
                        <div class="kf"></div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">31 jan</div>
                        <div class="gbr-ovr">vrk-1nov</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroominternuit"></div>
                        <div class="sign">--</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">grondstoffen</div>
                        <div class="kf">inkoopwaarde van de omzet</div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">30 jan</div>
                        <div class="gbr-ovr">ink-1101</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroommarktin"></div>
                        <div class="sign">+</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">levering</div>
                        <div class="kf"></div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">30 jan</div>
                        <div class="gbr-ovr">vrk-1nov</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroominternuit"></div>
                        <div class="sign">--</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">grondstoffen</div>
                        <div class="kf">inkoopwaarde van de omzet</div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">29 jan</div>
                        <div class="gbr-ovr">ink-1101</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroommarktin"></div>
                        <div class="sign">+</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">levering</div>
                        <div class="kf"></div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">29 jan</div>
                        <div class="gbr-ovr">vrk-1nov</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroominternuit"></div>
                        <div class="sign">--</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">grondstoffen</div>
                        <div class="kf">inkoopwaarde van de omzet</div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">28 jan</div>
                        <div class="gbr-ovr">ink-1101</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroommarktin"></div>
                        <div class="sign">+</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">levering</div>
                        <div class="kf"></div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">28 jan</div>
                        <div class="gbr-ovr">vrk-1nov</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroominternuit"></div>
                        <div class="sign">--</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">grondstoffen</div>
                        <div class="kf">inkoopwaarde van de omzet</div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">27 jan</div>
                        <div class="gbr-ovr">ink-1101</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroommarktin"></div>
                        <div class="sign">+</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">levering</div>
                        <div class="kf"></div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">27 jan</div>
                        <div class="gbr-ovr">vrk-1nov</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroominternuit"></div>
                        <div class="sign">--</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">grondstoffen</div>
                        <div class="kf">inkoopwaarde van de omzet</div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">26 jan</div>
                        <div class="gbr-ovr">ink-1101</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroommarktin"></div>
                        <div class="sign">+</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">levering</div>
                        <div class="kf"></div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">26 jan</div>
                        <div class="gbr-ovr">vrk-1nov</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroominternuit"></div>
                        <div class="sign">--</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">grondstoffen</div>
                        <div class="kf">inkoopwaarde van de omzet</div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">25 jan</div>
                        <div class="gbr-ovr">ink-1101</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroommarktin"></div>
                        <div class="sign">+</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">levering</div>
                        <div class="kf"></div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">25 jan</div>
                        <div class="gbr-ovr">vrk-1nov</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroominternuit"></div>
                        <div class="sign">--</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">grondstoffen</div>
                        <div class="kf">inkoopwaarde van de omzet</div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- gbr-vergroot -->
        <!-- <div class="gbr-vergroot verkopen displaynone">
            <div class="titel button">
                <div class="icon icon-rondje"></div>
                <div>Vooorraad winkel</div>
                <div>Periode: 1 jan tot heden</div>
                <div class="icon icon-delete button"></div>
            </div>
            <div class="info">
                <div class="header">
                    <div>Samenvatting</div>
                </div>
                <div class="rij">
                    <div>Totaal inkopen</div>
                    <div>+</div>
                    <div>&euro; 100.000</div>
                </div>
                <div class="rij">
                    <div>Totaal omzet</div>
                    <div>-</div>
                    <div>&euro; 200.000</div>
                </div>
                <div class="rij winstweergave">
                    <div>Totale bruto winst</div>
                    <div>+</div>
                    <div>&euro; 100.000</div>
                </div>
                <div class="rij">
                    <div>Totale voorraad</div>
                    <div>+</div>
                    <div>&euro; 0</div>
                </div>
            </div>
            <div class="info2">
                <div class="header">
                    <div>Overig</div>
                </div>
                <div class="rij">
                    <div>Wanneer verkopen?</div>
                    <div>Maandag t/m zaterdag tussen 08:00 en 16:00 uur</div>
                </div>
                <div class="rij">
                    <div>Levertijd</div>
                    <div>direct mee te nemen</div>
                </div>
                <div class="rij">
                    <div>Besteleendheid</div>
                    <div>Stuk</div>
                </div>
            </div>
            <div class="header">
                <div>Boekingen</div>
            </div>
            <div class="gbr-rows">
                <div class="gbr-row gbr-row-header ">
                    <div class="dd">datum</div>
                    <div class="gbr-ovr">overeenkomst</div>
                    <div class="beschrijving">productbeschrijving</div>
                    <div class="icoon">icoon</div>
                    <div class="sign">bij/af</div>
                    <div class="gbr-w">waarde</div>
                    <div class="gbr-h">h</div>
                    <div class="gbr-p">P-ink</div>
                    <div class="ks styled-select">beschrijving 1</div>
                    <div class="kf styled-select">beschrijving 2 </div>
                </div>
                <div class="gbr-rows-scroll">
                    <div class="gbr-row">
                        <div class="dd">01 feb</div>
                        <div class="gbr-ovr">verk-01feb</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroommarktuit"></div>
                        <div class="sign">--</div>
                        <div class="gbr-w">600</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">2</div>
                        <div class="ks">opbrengst van de verkopen (8400)</div>
                        <div class="kf">omzet</div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">01 feb</div>
                        <div class="gbr-ovr">verk-01feb</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroomintenrin"></div>
                        <div class="sign">+</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">kostprijs van de verkopen (8000)</div>
                        <div class="kf"></div>
                    </div>
                    <div class="gbr-row winstweergave">
                        <div class="dd">01 feb</div>
                        <div class="gbr-ovr">verk-01feb</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-winstpos"></div>
                        <div class="sign">+</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h"></div>
                        <div class="gbr-p"></div>
                        <div class="ks">brutowinst</div>
                        <div class="kf"></div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">02 feb</div>
                        <div class="gbr-ovr">verk-01feb</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroommarktuit"></div>
                        <div class="sign">--</div>
                        <div class="gbr-w">600</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">2</div>
                        <div class="ks">opbrengst van de verkopen (8400)</div>
                        <div class="kf">omzet</div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">02 feb</div>
                        <div class="gbr-ovr">verk-01feb</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroominternin"></div>
                        <div class="sign">+</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">kostprijs van de verkopen (8000)</div>
                        <div class="kf"></div>
                    </div>
                    <div class="gbr-row winstweergave">
                        <div class="dd">02 feb</div>
                        <div class="gbr-ovr">verk-01feb</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-winstpos"></div>
                        <div class="sign">+</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h"></div>
                        <div class="gbr-p"></div>
                        <div class="ks">brutowinst</div>
                        <div class="kf"></div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">03 feb</div>
                        <div class="gbr-ovr">verk-01feb</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroommarktuit"></div>
                        <div class="sign">--</div>
                        <div class="gbr-w">600</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">2</div>
                        <div class="ks">opbrengst van de verkopen (8400)</div>
                        <div class="kf">omzet</div>
                    </div>
                    <div class="gbr-row">
                        <div class="dd">03 feb</div>
                        <div class="gbr-ovr">verk-01feb</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-stroominternin"></div>
                        <div class="sign">+</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h">300</div>
                        <div class="gbr-p">1</div>
                        <div class="ks">kostprijs van de verkopen (8000)</div>
                        <div class="kf"></div>
                    </div>
                    <div class="gbr-row winstweergave">
                        <div class="dd">03 feb</div>
                        <div class="gbr-ovr">verk-01feb</div>
                        <div class="beschrijving">brood</div>
                        <div class="icoon icon icon-winstpos"></div>
                        <div class="sign">+</div>
                        <div class="gbr-w">300</div>
                        <div class="gbr-h"></div>
                        <div class="gbr-p"></div>
                        <div class="ks">brutowinst</div>
                        <div class="kf"></div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- gbr-vergroot -->
        
    </div>
</div>







