<%= form_for(@boeking) do |f| %>
  <% if @boeking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@boeking.errors.count, "error") %> prohibited this boeking from being saved:</h2>

      <ul>
      <% @boeking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :boekingtype %><br>
    <%= f.text_field :boekingtype %>
  </div>
  
  <div class="field">
    <p><%= f.label "Organisatie" %></p>
    <p><%= f.select :organisatie_id, Organisatie.all.collect{|t| [t.naam, t.id]}, { :include_blank => false } %></p>
  </div>

  <div class="field">
    <p><%= f.label "Grootboekrekening" %></p>
    <p><%= f.select :grootboekrekening_id, Grootboekrekening.all.collect{|t| [t.naam, t.id]}, { :include_blank => false } %></p>
  </div> 
  <div class="field">
    <p><%= f.label "Boekproces" %></p>
    <p><%= f.select :boekproces_id, Boekproces.all.collect{|t| [t.naam, t.id]}, { :include_blank => false } %></p>
  </div>
  <div class="field">
    <p><%= f.label "Journaal" %></p>
    <p><%= f.select :journaal_id, Journaal.all.collect{|t| [t.boeknummer, t.id]}, { :include_blank => false } %></p>
  </div>
  <div class="field">
    <p><%= f.label "Product" %></p>
    <p><%= f.select :product_id, Product.all.collect{|t| [t.naam, t.id]}, { :include_blank => false } %></p>
  </div>
  <div class="field">
    <%= f.label :datum %><br>
    <%= f.date_select :datum %>
  </div>
  <div class="field">
    <p><%= f.label "Icoon" %> <%= f.file_field :icoon %></p>
    <%= image_tag f.object.icoon_url(:thumb).to_s %>
  </div>
  <div class="field">
    <%= f.label :bij_af %><br>
    <%= f.text_field :bij_af %><br>
  </div>
  <div class="field">
    <%= f.label :waarde %><br>
    <%= f.number_field :waarde %><br>
  </div>
  <div class="field">
    <%= f.label :p_inkoop %><br>
    <%= f.number_field :p_inkoop %><br>
  </div>
  <div class="field">
    <%= f.label :hoeveelheid %><br>
    <%= f.number_field :hoeveelheid %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
