<p id="notice"><%= notice %></p>

<h1>Boekingen</h1>

<table class="cmsTabel">
  <thead>
    <tr>
      <td>id</td>
      <td>Boekingtype</td>
      <td>Organisatie</td>
      <td>Grootboektype</td>
      <td>Grootboekrekening</td>
      <td>Journaal</td>
      <td>Product</td>
      <td>Datum</td>
      <td>Icoon</td>
      <td>Bij/af</td>
      <td>Boekproces</td>
      <td class="rechtsuitlijnen">Waarde</td>
      <td class="rechtsuitlijnen">Prijs</td>
      <td class="rechtsuitlijnen">H</td>
      <td colspan="3">Acties</td>
    </tr>
  </thead>

  <tbody>
    <% @boekingen.each do |boeking| %>
      <tr>
        <td><%= boeking.id %></td>
        <td><%= boeking.boekingtype %></td>
        <td><%= boeking.organisatie.naam %></td>
        <td><%= boeking.grootboekrekening.grootboektype.naam %></td>
        <td><%= boeking.grootboekrekening.naam %></td>
        <% if boeking.journaal %>
          <td><%= boeking.journaal.boeknummer %></td>
        <% else %>
          <td>Intern</td>
        <% end %>
        <td><%= boeking.product.naam %></td>
        <td><%= boeking.datum %></td>
        <td><%= image_tag boeking.icoon_url(:thumb).to_s %></td>
        <td><%= boeking.bij_af %></td>
        <td><%= boeking.boekproces.naam %></td>
        <td class="bedrag"><%= boeking.waarde %></td>
        <td class="bedrag"><%= boeking.p_inkoop %></td>
        <td class="getal"><%= boeking.hoeveelheid %></td>
        <td><%= link_to 'Show', boeking %></td>
        <td><%= link_to 'Edit', edit_boeking_path(boeking) %></td>
        <td><%= link_to 'Destroy', boeking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Boeking', new_boeking_path %>
