<p id="notice"><%= notice %></p>


<p>
  <strong>Boekingtype:</strong>
  <%= @boeking.boekingtype %>
</p>

<p>
  <strong>Organisatie:</strong>
  <%= @boeking.organisatie.naam %>
</p>


<% if @boeking.journaal %>
  <p>
    <strong>Journaal:</strong>
    <%= @boeking.journaal.boeknummer %></td>
  </p>
<% else %>
  <p>
   <strong>Interne boeking</strong>
  </p>
<% end

<p>
  <strong>Grootboekrekening:</strong>
  <%= @boeking.grootboekrekening.naam %>
</p> %>


<p>
  <strong>Product:</strong>
  <%= @boeking.product.naam %>
  <%= image_tag @boeking.product.icoon_url(:thumb).to_s %>
</p>

<p>
  <strong>Datum:</strong>
  <%= @boeking.datum %>
</p>

<p>
  <strong>Icoon:</strong>
  <%= image_tag @boeking.icoon_url(:thumb).to_s %>
</p>

<p>
  <strong>Bij af:</strong>
  <%= @boeking.bij_af %>
</p>

<p>
  <strong>Waarde:</strong>
  <%= @boeking.waarde %>
</p>

<p>
  <strong>P inkoop:</strong>
  <%= @boeking.p_inkoop %>
</p>

<p>
  <strong>Hoeveelheid:</strong>
  <%= @boeking.hoeveelheid %>
</p>

<%= link_to 'Edit', edit_boeking_path(@boeking) %> |
<%= link_to 'Back', boekingen_path %>
