<!DOCTYPE html>
<html>
<head>
  <title>Supereconomics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Toegevoegd voor oud te laten werken -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <!-- basic includes -->
  <%= render template: "oldstviews/includes/basicJquery.html" %>
  <%= render template: "oldstviews/includes/modules.html" %>
  
</head>
<body>
  
  <%= yield %>
  
  <%= debug(params) if Rails.env.development? %>

</body>
</html>
