<!DOCTYPE html>
<html>
<head>
  <title>CMS Supereconomics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="cms">
  <div class="titelopmaak">Content Management Systeem</div>
  <div class="sidebar-one">
  <div class="h1">Onderdelen</div>
    <br>
    <div class="h2">Referentietabellen</div>
    <br>
    <div class="h3">Algemene economie</div>
    <%= link_to 'Bedrijfstakken', bedrijfstakken_path %><br>
    <%= link_to 'Rechtsvormen', rechtsvormen_path %><br>
    <br>
    <div class="h3">Bedrijfseconomie</div>
    <%= link_to 'Grootboektypes', grootboektypes_path %><br>
    <%= link_to 'Journaaltypes', journaaltypes_path %><br>
    <%= link_to 'Boekprocessen', boekprocessen_path %><br>
    <br>
    <div class="h2">Gebruikerstabellen</div>
    <%= link_to 'Organisaties', organisaties_path %><br>
    <%= link_to 'Grootboekrekeningen', grootboekrekeningen_path %><br>
    <%= link_to 'Producten', producten_path %><br>
    <%= link_to 'Journaals', journaals_path %><br>
    <%= link_to 'Boekingen', boekingen_path %><br>
    <br>
    <div  class="h2">Applicatie</div>
    <%= link_to 'Applicatie', root_path, method: :get %><br>
    <br>  
  </div>
  
  <div class="main-content">
    <%= yield %>
  </div>
</div>

</body>
</html>
